window#waybar { background-color: #040409; color: #5CFD4C; }
#cpu { color: #132C1B; border-bottom: 3px solid #132C1B; }
#memory { color: #187626; border-bottom: 3px solid #187626; }
#network { color: #0FC710; border-bottom: 3px solid #0FC710; }
#pulseaudio { color: #ADB14C; border-bottom: 3px solid #ADB14C; }
#clock { color: #5CFD4C; border-bottom: 3px solid #242039; }
#custom-notification { color: #746030; border-bottom: 3px solid #746030; }
